fieldset {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 1.3rem;
}

input {
  font-size: 1.2rem;
}

/*Based on the "pattern" RegEx, gives visual cues for valid input*/
input:valid {
  background-color: lightgreen;
} 

/*Based on the "pattern" RegEx, gives visual cues for invalid input*/
input:invalid {
  background-color: lightcoral;
}

/* Style the "button" */
p {
  display: block;
  background-color: lightgray;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 2.5px black;
  margin-left: 17%;
  width: 100px;
}

p:hover {
  cursor: pointer;
}

/* Give the "button" a pseudo-3D pressed down look*/
p:active {
  box-shadow: 1px 1px 0.5px black;
}

/* This just styles the placeholder text so you can see it */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: teal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: teal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: teal;
}
:-moz-placeholder { /* Firefox 18- */
  color: teal;
}